
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.activate-message , activationError {
  text-align: center;
}
.activationError{
  color: red;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-top: 1rem;
}
